{:paths ["src"]
 :deps {
        clj-http/clj-http {:mvn/version "3.12.3"}
        environ/environ {:mvn/version "1.2.0"}
        ring/ring-codec {:mvn/version "1.2.0"}
        cheshire/cheshire {:mvn/version "5.10.1"}}}
